.emoji-img {
  height: 24px !important;
  width: 24px !important;
  display: inline-block;
  position: static !important;
}
.emoji-flex-table > .emoji-img {
  margin: 6px 4px;
}
.emoji-popup input {
  width: 100%;
  border: 2px solid #ccc;
  height: 3rem;
}
.emoji-inline-popup {
  position: absolute;
	top: -250px;
	width: 500px;
  background: #FFF;
  z-index: 1000;
  font-size: 1.4rem;
	display: none;
  color: black;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 0 0 1px rgb(232 232 232 / 13%), 0 4px 12px 0 rgb(0 0 0 / 8%);
	max-height: 250px;
	padding: 6px 0;
	overflow-y: auto;
}
.inline-popup-item {
	padding-top: 4px;
	padding-bottom: 4px;
}
.inline-popup-item.highlighted {
	background-color: rgba(18, 100, 163, 0.9);
	color: white;
}

.emoji-inline-popup .emoji-img {
	margin-left: 10px;
	margin-right: 6px
}
.emoji-popup {
  background: #FFF;
  position: absolute;
  z-index: 1000;
  left: 100px;
  bottom: 30px;
  font-size: 1.4rem;
  display: none;
  color: black;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 0 0 1px rgb(232 232 232 / 13%), 0 4px 12px 0 rgb(0 0 0 / 8%);
  padding-top: 4px;
}
.emoji-flex-table {
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: flex-start;
  align-items: flex-end;
  width: 300px;
}
.emoji-flex-table-container {
  max-height: 294px;
  padding: 12px 0 6px 6px;
  overflow-y: scroll;
}
.emoji-flex-table-container::-webkit-scrollbar {
  display: none;
}
.emoji-flex-table .emoji-img {
  cursor: pointer;
}
#emoji-input-box-container {
  padding: 8px 12px 10px 12px;
  border-top: 1px solid #ccc;
}

.fuzzy-highlight {
	background-color: rgba(242, 199, 68, 0.4);
	color: #0b4c8c;
}
